@use "base";
@use "views/imports";

.enter-active {
  transition: all 0.5s ease;
  transition-delay: var(--delay, 0s);
}

.enter {
  opacity: 0;
  transform: translateY(10px);
}

.enter-to {
  opacity: 1;
  transform: translateY(0);
}

.leave {
  transform: scale(1);
  opacity: 1;
}

.leave-to {
  transform: scale(0.8);
  opacity: 0;
}

.leave-active {
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(-3px);
}
